<div class="flex w-full h-full">
  <div class="fixed inset-0 flex justify-center sm:px-8">
    <div class="flex w-full max-w-7xl lg:px-8">
      <div
        class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
      ></div>
    </div>
  </div>
  <div class="relative flex w-full flex-col">
    <!-- wp:template-part {"theme":"fse","slug":"header","tagName":"header","className":"pointer-events-none relative z-50 flex flex-none flex-col","style":{"spacing":{"margin":{"bottom":"var(--header-mb)"}}, "dimensions":{"height":"var(--header-height)"}}} /-->
    <main class="flex-auto">
      <!-- wp:fse/hero {
        "title":"Front-end developer with strong development skills.",
        "description":"I’m Johnny, a (front-end) developer with almost 2 decades of experience in development and who likes to create software which is build with a good UI/UX design for the user.",
        "githubUrl":"https://github.com/bumayeah/",
        "linkedinUrl":"https://www.linkedin.com/in/johnnyceelen/"
      } /-->
      <!-- wp:fse/photo-gallery {"imageIds":[90, 83, 84, 85, 93]} /-->
      <div class="sm:px-8 mt-24 md:mt-28">
        <div class="mx-auto w-full max-w-7xl lg:px-8">
          <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
              <div
                class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2"
              >
                <!-- wp:fse/projects {"perPage":3} /-->
                <div class="space-y-10 lg:pl-16 xl:pl-24">
                  <!-- wp:fse/subscribe {"title":"Stay up to date","description":"Get notified when I publish something new, and unsubscribe at any time.","actionUrl":"/thank-you","buttonLabel":"Join"} /-->
                  <!-- wp:fse/front-work {"title":"Work","perPage":3} /-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- wp:template-part {"theme":"fse","slug":"footer","tagName":"footer","className":"mt-32 flex-none"} /-->
  </div>
</div>
