<div class="flex w-full h-full">
  <div class="fixed inset-0 flex justify-center sm:px-8">
    <div class="flex w-full max-w-7xl lg:px-8">
      <div
        class="w-full bg-white ring-1 ring-zinc-100 dark:bg-zinc-900 dark:ring-zinc-300/20"
      ></div>
    </div>
  </div>
  <div class="relative flex w-full flex-col">
    <!-- wp:template-part {"theme":"fse","slug":"header","tagName":"header","className":"pointer-events-none relative z-50 flex flex-none flex-col","style":{"spacing":{"margin":{"bottom":"var(--header-mb)"}}, "dimensions":{"height":"var(--header-height)"}}} /-->
    <main class="flex-auto">
      <div class="sm:px-8 mt-16 lg:mt-32">
        <div class="mx-auto w-full max-w-7xl lg:px-8">
          <div class="relative px-4 sm:px-8 lg:px-12">
            <div class="mx-auto max-w-2xl lg:max-w-5xl">
              <div class="xl:relative">
                <div class="mx-auto max-w-2xl">
                  <!-- wp:fse/back-link {"label":"Go back to projects"} /-->
                  <article>
                    <header class="flex flex-col">
                      <!-- wp:post-title {"level":1,"className":"mt-6 text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"} /-->
                      <!-- wp:fse/post-date /-->
                    </header>
                    <div class="mt-8 prose dark:prose-invert">
                      <!-- wp:post-content /-->
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- wp:template-part {"theme":"fse","slug":"footer","tagName":"footer","className":"mt-32 flex-none"} /-->
  </div>
</div>
